DEPLOYER_PRIVATE_KEY=
DEPLOYER_ADDRESS=
MONAD_TESTNET_RPC=https://testnet-rpc.monad.xyz
MONAD_MAINNET_RPC=https://rpc.monad.xyz
MONAD_TESTNET_CHAIN_ID=10143
RP_ORIGIN=https://backstop.audit
RP_ID=backstop.audit
ERC8004_IDENTITY_TESTNET=0x8004A818BFB912233c491871b3d84c89A494BD9e
ERC8004_REPUTATION_TESTNET=0x8004B663056A597Dffe9eCcC1965A193B7388713
NEXT_PUBLIC_DYNAMIC_ENVIRONMENT_ID=
ENVIO_API_TOKEN=
